<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gunnar L. Young</title>

    <ligerplace:/head.html>

    <link rel="stylesheet" href="/home.css">

</head>
<body>
    
    <ligerplace:/header.html>

    <main>

        <div id="bio">

            <h1>Gunnar L. Young</h1>



            <div id="bioText">

                <img src="/homemedia/portrait.png" alt="">
            
                <p>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque explicabo reprehenderit ab rerum reiciendis totam nisi. Consectetur quaerat eius repellat quae tempora animi cumque? Possimus in fuga veritatis id incidunt velit esse libero? Quia, beatae incidunt explicabo tenetur omnis, consectetur possimus, quisquam eaque fugit recusandae dolorum! Ullam soluta aspernatur velit facere ex eaque vel harum quidem, ipsam dolorum ratione tenetur!

                </p>

            </div>

        </div>

        <a href="/doodle">
        <div id="doodle">

            <h3>Doodle of the Week</h3>

            <img src="/doodle/smallShip.jpg" alt="">
            

        </div>
        </a>

        <a href="/portfolio">
        <div id="portfolioIcon">

            <h2>Check out my portfolio!</h2>

            <img src="/homemedia/portfolio_icon.png" alt="">

        </div>
        </a>

        <div id="storeIcon">



        </div>


    </main>


    <ligerplace:/footer.html>


</body>
</html>