<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doodles of The Week</title>

    <ligerplace:/head.html>
    <link rel="stylesheet" href="/gallery.css">

</head>
<body>

    <ligerplace:/header.html>


    <main>

        <img src="cyclobot.jpg" alt="">
        <img src="monorad.jpg" alt="">
        <img src="assortedPortraits.jpg" alt="">
        <img src="gorilla.jpg" alt="">
        <img src="westernAndroid.jpg" alt="">
        <img src="bear.jpg" alt="">
        <img src="flourishes.jpg" alt="">
        <img src="smallShip.jpg" alt="">
        <img src="flightSuit.jpg" alt="">
        <img src="assortedAnimals.jpg" alt="">
        <img src="faces.jpg" alt="">
        <img src="spaceships.jpg" alt="">
        <img src="pachycephalosaurus.jpg" alt="">
        <img src="insectoidbot.jpg" alt="">
        <img src="BattleFrog.jpg" alt+"">
        <img src="WorkingMan.jpg" alt="">
        <img src="roboRocker.jpg" alt="">
        <img src="Tankbot.jpg" alt="">
        <img src="boxes.jpg" alt="">
        <img src="chrionicBonicle.jpg" alt="">
        <img src="old_man.jpg" alt="">
        <img src="batman.jpg" alt="">
        <img src="trex.jpg" alt="">
        <img src="polearm.jpg" alt="">
        <img src="robotNinja.jpg" alt="">
        <img src="viking.jpg" alt="">
        <img src="astronaut.jpg" alt="">

    </main>


    <ligerplace:/footer.html>
    
</body>
</html>