<header>
    <div id = banner>
        <img src="/left_castle.png" alt="" class="bookend">
        <div id="name">
            <img src="/young.png" alt="" id="signature">
            <h1 id="print">Gunnar L. Young</h1>
        </div>
        <img src="/right_tree.png" alt="" class="bookend">
    </div>
    <menu>
        <a href="/"><h3>Home</h3></a>
        <a href="/portfolio"><h3>Portfolios</h3></a>
        <a href="/commission"><h3>Hire Me</h3></a>
        <a href="https://www.store.gunnarlyoung.com" target="_blank"><h3>Store</h3></a>
    </menu>
</header>