main{

    display: grid;

    grid-template-columns: 1fr 1fr;
    

}

img{

    width: 100%;

}

#bio
{

    grid-column: 1/3;



    #portrait{

        width: 200px;

        mask-image: linear-gradient(black, transparent);

    }

    #first_last{

        width: 200px;

        float: right;

    }

    #bioText{

        padding: 1rem;

        display: grid;

        grid-template-columns: 2fr 3fr;

    }

}

#doodle
{

    margin: auto;

    filter: drop-shadow(-8px 8px 8px #000);

    display: flex;

    flex-direction: column;
    a{

        text-decoration: none;

    }

    h3{

        background-image: url("/homemedia/plaque.png");
        background-size: cover;

        padding: .5rem;

        line-height: 150%;

        filter: drop-shadow(-3px 3px 3px #000);

        width: fit-content;

        margin: auto;

        margin-bottom: 2rem;

        color: #000;

        text-decoration: none;

    }


    img{

        object-fit: contain;

        width: 100%;

        aspect-ratio: 1 / 1;

    }

}

#nameMobile{

    display: none;

}

@media screen and  (max-width: 80rem){


    #nameMobile{

        display: block;

    }

    main{

        grid-template-columns: 1fr;

    }

    #bio{

        #bioText{

        display: block;

        }

        grid-column: span 1/2;

    }

}