<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Gunnar L. Young before someone else does!</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">

</head>
<body>


    <audio src="media/Also_Sprach.ogg"></audio>



    <link rel="stylesheet" href="dating.css">


    <header>

        <h1>Gunnar L. Young</h1>


    </header>

    <main>

    <div class="margin" id="leftMargin">



    </div>

    <article>

        <img src="media/fullportrait.png" alt="" class="sticker">


        <h2>Hi. I'm Gunnar!</h2>

        <p>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, voluptates nemo ex voluptate pariatur eligendi? Quae quo, tempore fugiat officiis est explicabo! Optio, eligendi consectetur. Quod dolore, beatae eaque mollitia animi officia dolorum autem, eligendi atque dolor impedit aspernatur nobis consequatur, illo culpa? Laboriosam eum, minima unde magni sequi recusandae ab et voluptas voluptates repellendus ducimus alias numquam quidem excepturi facere omnis totam explicabo fugiat reiciendis dolore ea, saepe iste consectetur nemo. Cumque, quaerat expedita harum fugiat tempore distinctio natus illum voluptatum sequi commodi laboriosam saepe consectetur dolorum quisquam perspiciatis. Aspernatur, unde necessitatibus? Atque iure, sed quis aliquid quo neque!
        </p>

        <div class="testimonial">

            <p>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa temporibus natus repellat adipisci accusamus excepturi sunt nemo accusantium deserunt labore?

            </p>
            <h3>John Doe</h3>

        </div>
    


        <p>

            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, velit? Mollitia fugiat explicabo sed consectetur repellendus incidunt tempora facilis, cumque, numquam at ullam eligendi veniam laboriosam odit, labore ipsum corporis?

        </p>

        <p>

            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam ut aliquid, saepe repellat similique dignissimos atque, deserunt et laborum ipsa voluptatum laboriosam omnis labore quam alias architecto soluta repudiandae pariatur itaque? Iure, quidem! Suscipit expedita beatae recusandae quos alias, incidunt tempore ullam, laborum possimus nostrum, natus dignissimos sapiente magni excepturi inventore quas voluptates illo quisquam quia dolores fuga! Velit corrupti doloribus error ratione eum fugit quo inventore consequatur, modi quae.

        </p>

        <p>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam fuga suscipit placeat eos quo dolores eveniet autem consequatur illum eaque quae porro nesciunt, blanditiis laborum ipsum. Beatae, aspernatur et nesciunt voluptates doloremque libero omnis blanditiis officia vel deserunt, nulla eligendi sed est magnam vitae repellendus obcaecati placeat alias. Sed, perspiciatis eum, et nihil repudiandae blanditiis facere obcaecati numquam minima nobis facilis temporibus, dignissimos saepe omnis recusandae quo quisquam? Laboriosam voluptatum beatae cum consectetur ipsum vitae a minima sapiente quidem nesciunt debitis quas incidunt nemo veritatis eum ut cupiditate accusamus, alias voluptates earum repellat harum sint modi. Alias nihil nam fuga.

        </p>

        <p>

            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque voluptatum quasi quaerat, dicta totam rerum amet accusantium nostrum? Aspernatur delectus consequatur architecto aperiam id beatae! Ducimus, quidem, omnis nam, illum voluptas repudiandae vel minima quia eius commodi numquam illo odio suscipit tenetur! Ullam odit quaerat numquam ex reiciendis nostrum ratione iure! Mollitia pariatur non ipsam ullam iste, aspernatur iure cumque repellendus animi dolor dolores eum reiciendis eius libero at consequatur facilis unde. Minima dolor laboriosam mollitia vero necessitatibus, animi dolorum maiores reiciendis excepturi laudantium atque doloremque et!

        </p>

    </article>

    <div class="margin" id="rightMargin">


    </div>


    </main>

    <footer>

        <h1>Wanna ask me out?<br>Click Here!</h1>

    </footer>

</body>
</html>