<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BovAi: The World's First Artificial Cow Inteligence</title>

    <link rel="icon" href="icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <script src="script.js"></script>

</head>
<body>


    <div class="pannel" id="info">

        <h3>What is BovAi?</h3>
        <p>In recent years, AI technology has improved by leaps and bounds but with all this progress, there has been one clear shortcoming: all AIs have been trained exclusively on human conversation.<br><br><b>until now!</b><br><br><i>BovAi</i> has been trained on dozens of seconds of cattle conversation. The technolgy of yesteryear would require you to drive at least a mile just to talk with a cow but now you can have an identical experience from the comfort of your suburban home!</p>

        <h2 class="close" onclick="toggleInfo(true)">Close</h2>

    </div>

    <main>

        <h2>BovAi: The World's First Artificial Cow Inteligence</h2>

        <div id="text_convo">

            <p id="chat_history"></p>

            <input type="text" onkeypress="main(event)" id="prompt">

        </div>

    </main>

    <div class="pannel" id="menu">

        <a href="https://gunnarlyoung.com">
        <img src="signature.png" alt="">

        <h4>GunnarLYoung.com</h4>

        <h2>Home</h2></a>
        <a href="/portfolio"><h2>Portfolio</h2></a>
        <a href="/contact"><h2>Contact Me</h2></a>
        <a href="/projects"><h2>Projects</h2></a>
        <a href="/doodle"><h2>Doodle of the Week</h2></a>
        <a href="https://store.gunnarlyoung.com/"><h2>Store</h2></a>

        <h2 class="close" onclick="toggleMenu(true)">Resume</h2>

    </div>

    <div id="navigation">

    <h2 id="about" onclick="toggleInfo(false)">

        ?

    </h2>

    <h2 id="menuToggle" onclick="toggleMenu(false)">

        ☰

    </h2>

    </div>

</body>

<footer>

    <p>&copy Gunnar L. Young 2025</p>

</footer>

</html>