<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Gunnar L. Young</title>

    <ligerplace:/head.html>

    <link rel="stylesheet" href="/gallery.css">

</head>
<body>

    <ligerplace:/header.html>


    <script src="/gallery.js"></script>

    <main>

        <img src="self_portrait.png" alt="" <!--onclick="openPreview()"-->
        <img src="tree.png" alt="">
        <img src="skull_icon.png" alt="">
        <img src="robot_boy.png" alt="">
        <img src="Bogart.png" alt="">
        <img src="Cell_Batman_Render.png" alt="">

    </main>

    <div id="overlay" onclick="closePreview()">

        <img src="self_portrait.png" alt="IMAGE COULD NOT BE DISPLAYED">

    </div>

    <ligerplace:/footer.html>
    
</body>
</html>