

html
{

    background-image: url("backgrounds/tabletop.jpg");

    color: #444;

    background-attachment: fixed;

    font-family: "Indie Flower", cursive;
    
    padding: 0%;

    margin: 0%;

}


header{

    background-image: url(backgrounds/header.png);

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;

    padding: .5rem;

    position: sticky;

    text-align: center;

    top: 0;

    margin: auto;

    filter: drop-shadow(0px 2px 5px #000);

    z-index: 999;


}

body{

    padding: 0%;

    margin: 0%;

}


main
{

    margin: auto;
    

    /*background-color: #EED;*/

    /*background-image: url(backgrounds/paper.png);*/

    background-image: repeating-linear-gradient(#EED, #EED 25px, #CCF 25px, #CCF 27px);

    background-repeat: repeat;

    background-size: contain;

    filter: drop-shadow(0px 2px 5px #000);

    display: grid;

    grid-template-columns: 15% 1fr 15%;

}

article{

    padding: 1em;

}

.sticker{

    width: 150px;

    filter: drop-shadow(1px 1px 1px #00000062)

}

#leftMargin{

    border-right: 2px #F09 solid;

}

#rightMargin{

    border-left: 2px rgba(255, 0, 153, 0.068) solid;

}

h1
{

    text-align: center;

    font-size: 140%;

    font-variant-caps: small-caps;

    margin-top: 0;

}

h3
{

    text-align: center;

    letter-spacing: .01rem;

}

p{

    text-align: justify;

    line-height: 26px;

}

a{

    color: #F93;

}

footer{

    bottom: 0%;

    position: sticky;

    margin: auto;

    width: fit-content;

    padding: 1rem 5rem;

    padding-bottom: 0;

    z-index: 999;

    background-image: url(backgrounds/footer.png);

    background-repeat: no-repeat;

    background-position: center;

    background-size: contain;

    filter: drop-shadow(0px 2px 5px #000);

}




menu{

    height: 5rem;

    position: sticky;

    bottom: 0%;

    background-color: rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(3px);

    margin: auto;

    margin-bottom: 0%;

    padding: 0%;

    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    z-index: 100;

    border-top: #F93 2px solid;

}

.testimonial
{

    background-image: url(backgrounds/stickynote.png);

    background-size: contain;

    position: relative;

    width: 14rem;

    height: 14rem;

    filter: hue-rotate(45deg);

    margin: auto;

    transform: rotate(5deg);

    

    padding: 1rem;

    h3{

        text-align: right;

        margin-right: 3rem;

    }

}

@media screen and (min-width: 80rem) {

    main{

        width: 50%;

    }

    header{

        width: fit-content;

        padding: .5% 10% .5%;

    }
    
}